$medium: 300px;
$large: 900px;

footer {
  @media screen and (min-width: $medium) {
    color: red;
  }
  @media screen and (max-width: $large) {
    color:darkorange;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: .6rem;
  }
  & a {
    color: darken($color: white, $amount: 50);
  }
  & a:hover {
    color: darken($color: white, $amount: 20);
  }
  
  padding: 2rem;
  font-size: .8rem;
  color: darken($color: white, $amount: 30);
  background-color: lighten($color: black, $amount: 20);
  margin-top: 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}