.Spinner {
  display: grid;
  place-items: center;
}

.Spinner button {
  margin-top: 4rem;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  border-top: 2px solid #1D9AF2;
  border-right: 2px solid transparent;
  border-bottom:none;
  border-left:none;
  animation: spinner5 700ms linear infinite;
}

@keyframes spinner5 {
    to {
      transform: rotate(360deg);
    }
}